In [29]:
# API get request
import pandas as pd
from requests import get
from time import sleep

In [30]:
nums = list(range(1, 6))

result = []

for i in nums:
    url = f"http://acnhapi.com/v1a/villagers/{i}"
    response = get(url)
    data = response.json()
    row = [
        data["id"],
        data["name"]["name-USen"],
        data["personality"],
        data["species"],
        data["gender"],
        data["hobby"],
        data["catch-phrase"]
    ]
    result.append(row)
    sleep(1)

result

[[1, 'Cyrano', 'Cranky', 'Anteater', 'Male', 'Education', 'ah-CHOO'],
 [2, 'Antonio', 'Jock', 'Anteater', 'Male', 'Fitness', 'honk'],
 [3, 'Pango', 'Peppy', 'Anteater', 'Female', 'Fashion', 'snooooof'],
 [4, 'Anabelle', 'Peppy', 'Anteater', 'Female', 'Fashion', 'snorty'],
 [5, 'Snooty', 'Snooty', 'Anteater', 'Female', 'Education', 'sniffff']]

In [31]:
df = pd.DataFrame(result, columns=["id", "name(eng)", "personality", "species", "gender", "hobby", "catch-phrase"])
df

   id name(eng) personality   species  gender      hobby catch-phrase
0   1    Cyrano      Cranky  Anteater    Male  Education      ah-CHOO
1   2   Antonio        Jock  Anteater    Male    Fitness         honk
2   3     Pango       Peppy  Anteater  Female    Fashion     snooooof
3   4  Anabelle       Peppy  Anteater  Female    Fashion       snorty
4   5    Snooty      Snooty  Anteater  Female  Education      sniffff

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5 non-null      int64
 1   name(eng)     5 non-null      object
 2   personality   5 non-null      object
 3   species       5 non-null      object
 4   gender        5 non-null      object
 5   hobby         5 non-null      object
 6   catch-phrase  5 non-null      object
dtypes: int64(1), object(6)
memory usage: 408.0+ bytes