In [1]:
# sklearn machine learning
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
# prep 50-80%
# mpg = f(hp, wt, am)
X = mtcars[ ["hp", "wt", "am"] ]
y = mtcars[ "mpg" ]

In [3]:
# split data
# 80 : 20
X_train, X_text, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [4]:
# train model
model_linear = LinearRegression()
model_decis = DecisionTreeRegressor()
model_ranfor = RandomForestRegressor()
model_linear.fit(X_train, y_train)
model_decis.fit(X_train, y_train)
model_ranfor.fit(X_train, y_train)

# test model/ scoring
pred_linear = model_linear.predict(X_text)
pred_decis = model_decis.predict(X_text)
pred_ranfor = model_ranfor.predict(X_text)

def regression_metrics(y, pred_model):
    # MAE mean absolue error
    mae = np.mean(np.absolute((y - pred_model)))
    # MSE
    mse = np.mean((y - pred_model) ** 2)
    # RMSE
    rmse = np.sqrt(np.mean(y - pred_model) ** 2)
    return mae, mse, rmse

linear_model = regression_metrics(y_test, pred_linear)
decision_model = regression_metrics(y_test, pred_decis)
random_model = regression_metrics(y_test, pred_ranfor)

In [5]:
model_df = pd.DataFrame([linear_model, decision_model, random_model], ["LinearRegression", "DecisionTree", "RandomForest"], ["MAE", "MSE", "RMSE"])
model_df

                       MAE       MSE      RMSE
LinearRegression  2.071012  7.319771  1.679513
DecisionTree      2.471429  9.610000  2.014286
RandomForest      2.218143  9.357878  1.706143